@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
// font-family: 'Roboto', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: middle;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #000;
}
html {
  font-size: 16px;
}
body {
  font-family: "Roboto", "Noto Sans KR", "Roboto", "맑은고딕", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000;
  word-break: break-all;
  min-width: 1260px;
}

// 공통영역
.inner {
  position: relative;
  display: block;
  width: 1200px;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  clear: both;
}

.all-menu-active {
  width: 420px !important;
}

// 굿박스 공통클래스
.good-box {
  position: relative;
  display: block;
  width: 290px;
  height: 410px;
  background: #fff;
  .img-link {
    // a태그가 될것임
    position: relative;
    display: block;
    width: 100%;
    height: 290px;
    overflow: hidden;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      transition: transform 0.5s;
    }
  }
  .img-link:hover img {
    transform: translate(-50%, -50%) scale(1.1);
  }
  .good-info {
    // ul이 될것
    position: relative;
    display: block;
    width: 100%;
    li {
      position: relative;
      display: block;
      overflow: hidden;
      margin-top: 10px;
      .good-info-option {
        // span 태그 될것
        position: relative;
        display: block;
        float: left;
        border: 1px solid #ddd;
        line-height: 16px;
      }
      .good-info-title {
        // p태그가 될것
        position: relative;
        display: block;
        overflow: hidden;
        max-height: 44px;
        margin-top: 14px;
        font-size: 17px;
        line-height: 22px;
        text-overflow: ellipsis;
        word-wrap: break-word;
        white-space: normal;
        em {
          position: relative;
          font-style: normal;
        }
      }
      .good-info-price {
        // p태그가 될것
        position: relative;
        display: block;
        float: left;      
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0;
        b {
          position: relative;
        }
      }
      .good-cart-add {
        // button 될것
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        float: right;    
        border: 0;
        font-size: 0;
        background: url('/images/btnCartList.png') no-repeat;
        background-position: 0px 0px;
        border: 0;
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }
}

.section-title {
  // h2로 잡을 예정
  position: relative;
  display: block;
  b {
    font-weight: 700;
  }
  .color-green {
    color: #76bd42;
  }
  .section-title-bar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 2px;
    background: #707070;
  }
}

.good-list-wrap {
  position: relative;
  display: block;
  overflow: hidden;
  .good-list-wrap-left {
    position: relative;
    display: block;
    float: left;
    width: 305px;
  }
  .good-list-wrap-right {
    position: relative;
    display: block;
    float: right;
    width: calc(100% - 305px);
  }
}

// 헤더영역
.header{
  position: relative;
  display: block;
  .inner{
    > .header-top{
      position: relative;
      display: block;
      padding: 20px 0 6px 0;  
     > .header-top-left{
      position: relative;
      display: block;
      float: left;
      .logo{
        position: relative;
        display: inline-block;
        font-size: 0;
        width: 191px;
        height: 31px;
        background: url('/images/logo.png') no-repeat center;
        background-size: cover;
        padding-top: 10px;
      }
      .day::before{
        content: '';
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('/images/icoLocation.png') no-repeat center;
        background-size: cover;
      }
      .day{
        position: relative;
        display: inline-block;
        color: #666666;
        margin-left: 10px;
      }
    }
      > ul{
        position: relative;
        display: flex;
        float: right;
        > li:first-child{
          position: relative;
          font-size: 0;
          width: 102px;
          height: 20px;
          background: url('/images/icoDlvr.png') no-repeat center;
          background-size: cover;
          > a{
            position: relative;
            display: block;
            width: 102px;
            height: 20px;
            cursor: pointer;
          }
        }
        > li:nth-child(3)::before,
        > li:nth-child(4)::before,
        > li:nth-child(5)::before{
          content: '';
          position: absolute;
          left: 0;
          top: 7px;
          width: 1px;
          height: 8px;
          background: #bbb;
        }
        li:nth-child(4){
          position: relative;
          color: #666;
          padding-right: 15px;
          > button{
            position: relative;
            border: 0;
            background-color: transparent;
            font-size: 13px;
            line-height: 19px;
            color: #666;
            font-family: "Roboto", "Noto Sans KR", "Roboto", "맑은고딕", sans-serif;
          }
          button::after{
            content: "";
            position: absolute;
            right: -15px;
            top: 6px;
            width: 10px;
            height: 6px;
            background: url('/images/icoMyMenu.png') no-repeat right top;
          }
          ul{
            display: none;
            position: absolute;
            left: 50%;
            top: 25px;
            z-index: 3;
            margin-left: 5px;
            padding: 10px 20px 20px 20px;
            background: #fff;
            border: solid 1px #ddd;
            box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
            transform: translateX(-50%);
            >li{
              margin-top: 10px;
              >a{
                position: relative;
                white-space: nowrap;
                color: #666;
                font-size: 13px;
                line-height: 19px;
              }
            }
            >li:hover >a{
              font-weight: 700;
              text-decoration: underline;
            }
          }
        }
        > li{
          position: relative;
          display: block;
          margin-left: 11px;
          padding-left: 11px;
          > a{
            font-size: 13px;
            line-height: 19px;
            color: #666;
          }
        }
      }
    }
    .header-bottom{
      position: relative;
      display: block;
      width: 1200px;
      margin: 0 auto;
      padding: 10px 0;
      .nav{
        position: relative;
        float: left;
        margin-top: 9px;
        font-size: 0;
        #all::before{
          content: '';
          position: absolute;
          left: 0;
          top: 5px;
          width: 20px;
          height: 2px;
          background: #000;
        }
        #all::after{
          content: '';
          position: absolute;
          left: 0;
          top: 13px;
          width: 20px;
          height: 2px;
          background: #000;
        }
        #all{
          position: relative;
          display: inline-block;
          vertical-align: top;
          padding: 0 0 16px 35px;
          font-size: 17px;
          font-weight: 500;
          line-height: 28px;
          cursor: pointer;
          span::before{
            content: '';
            position: absolute;
            left: 0;
            top: 21px;
            width: 20px;
            height: 2px;
            background: #000;
          }
          span{
            display: block;
            line-height: 28px;
          }
        }
        > ul{
          position: relative;
          display: inline-block;
          line-height: 28px;
          margin-left: 8px;
          font-family: "Roboto", "Noto Sans KR", "Roboto", "맑은고딕", sans-serif;
          > li:hover >a,
            li:hover >button{
            color: #76bd42;
          }
          > li{
            position: relative;
            display: inline-block;
            padding: 0 10px;
            font-size: 17px;
            font-weight: 500;
            > a{
              position: relative;
              display: block;
              font-size: 17px;
            }
            >button{
              font-size: 17px;
              font-weight: 500;
              font-family: "Roboto", "Noto Sans KR", "Roboto", "맑은고딕", sans-serif;
              color: #000;
              background: transparent;
              border: none;
              padding: 0 5px;
              cursor: pointer;
            }
          }
          li:nth-child(5)::after,
          li:nth-child(6)::after{
            content: '';
            position: absolute;
            top: 5px;
            right: 2px;
            width: 5px;
            height: 5px;
            background: #f58320;
            border-radius: 50%;
          }
          li:nth-child(7){
            button{
              position: relative;
            }
            > .active{
              position: relative;
              color: #76bd42;
            }
            > .active::after{
              content: '';
              position: absolute;
              right: -10px;
              top: 12px;
              width: 10px;
              height: 6px;
              background: url('/images/icoGnbArr2.png') no-repeat center 90%;
            }
            button::after{
              content: '';
              position: absolute;
              right: -10px;
              top: 10px;
              width: 12px;
              height: 8px;
              background: url('/images/icoGnbArr2.png') no-repeat center top;            
            }
           > ul{
              display: none;
              position: absolute;
              left: 50%;
              top: 43px;
              padding: 5px 20px;
              transform: translateX(-50%);
              background: #fff;
              border: 1px solid #ddd;
              box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
              z-index: 99;
              >li{
                font-size: 15px;
                font-weight: 400;
                color: #666;
                height: 37px;
                margin-left: 0;
                line-height: 37px;
                white-space: nowrap;
              }
          }
          }
          li:nth-child(8){
            button{
              position: relative;
            }
            > .active{
              position: relative;
              color: #76bd42;
            }
            > .active::after{
              content: '';
              position: absolute;
              right: -10px;
              top: 12px;
              width: 10px;
              height: 6px;
              background: url('/images/icoGnbArr3.png') no-repeat center bottom;
            }
            button::after{
              content: '';
              position: absolute;
              right: -10px;
              top: 10px;
              width: 12px;
              height: 8px;
              background: url('/images/icoGnbArr3.png') no-repeat 50% -30%;            
            }
           > ul{
              display: none;
              position: absolute;
              left: 50%;
              top: 43px;
              padding: 5px 20px;
              transform: translateX(-50%);
              background: #fff;
              border: 1px solid #ddd;
              box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
              z-index: 99;
              >li:hover{
                font-weight: 700;
                text-decoration: underline;
              }
              >li{
                font-size: 15px;
                font-weight: 400;
                color: #666;
                height: 37px;
                margin-left: 0;
                line-height: 37px;
                white-space: nowrap;
              }
          }
          }
          li:last-child{
            margin-left: 40px;
          }
        }
      }
      .all-menu{
        position: absolute;
        left: 0;
        top: 54px;
        display: block;
        width: 210px;
        height: 500px;
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
        overflow: hidden;
        visibility: hidden;
        transition: width 0.3s ease-in-out;
        z-index: 99;
        .all-menu-detail{
          position: absolute;
          left: 210px;
          top: 0;
          display: block;
          width: 210px;
          height: 100%;
          background-color: #f9f9f9;
          .all-menu-detail-list{
            position: relative;
            // display: none;
            padding: 10px 0;
            >li{
              position: relative;
              display: block;
              line-height: 40px;
              padding: 0 20px;
              >a{
                position: relative;
                display: inline-block;
                font-weight: 400;
                font-size: 15px;
                color: #000;
              }
              >a:hover {
                font-weight: 500;
                color:#76bd42;
              }
              >a:hover::after{
                content:'';
                position:absolute;
                left:0;
                bottom:2px;
                width:100%;
                height:1px;
                background:#76bd42;
              }
            }
          } 
        }
        .all-menu-wrap{
          position: relative;
          display: block;
          width: 210px;
          height: 100%;
          overflow: hidden;
      
          background-color: #fff;
          z-index: 1;
          .all-list-cate{
            position: relative;
            display: block;
            >li{
              position: relative;
              display: block;
              padding: 0 20px;
              >a{
                position: relative;
                display: block;
                font-size: 15px;
                font-weight: 500;
                line-height: 40px;
                color: #000;
                letter-spacing: -0.375px;
              }
              >a:hover{
                color: #76bd42;
              }
              >a:hover::after{
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                width: 6px;
                height: 10px;
                background: url('/images/icoGnbArr1.png') no-repeat;
                background-position: 0px -10px;
              }
            }
            >li:hover{
              background-color: #f8f8f8;
            }
          }
          .all-list-theme{
            position: relative;
            display: block;
            >li{
              position: relative;
              display: block;
              padding: 0 20px;
              >a{
                position: relative;
                display: block;
                font-size: 15px;
                font-weight: 500;
                line-height: 40px;
                color: #000;
                letter-spacing: -0.375px;
                border-bottom: 1px solid #e8e8e8;
                .ball{
                  position: relative;
                  display: inline-block;
                }
                .ball::before{
                  top: 10px;
                }
              }
              >a:hover{
                color: #76bd42;
              }
              >a:hover::after{
                background-position: 0px -10px;
              }
              >a::after{
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                width: 6px;
                height: 10px;
                background: url('/images/icoGnbArr1.png') no-repeat;
                background-position: 0px 0px;
              }
            }
            li:first-child >a{
              border-top: 1px solid #666;
            }
            li:last-child >a{
              border-bottom: 1px solid #666;
            }
          }
          .all-list-service{
            position: relative;
            display: block;
            >li{
              position: relative;
              display: block;
              padding: 0 20px;
              >a{
                position: relative;
                display: block;
                font-size: 14px;
                font-weight: 400;
                line-height: 30px;
                color: #666;
                letter-spacing: -0.375px;
              }
              >a:hover{
                color: #76bd42;
              }
              >a:hover::after{
                background-position: 0px -10px;
              }
              >a::after{
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                width: 6px;
                height: 10px;
                background: url('/images/icoGnbArr1.png') no-repeat;
                background-position: 0px 0px;
              }
            }
          }
        }
      }
      .search-wrap{
        float: right;
        line-height: 28px;
        .search-form{
          position: relative;
          display: inline-block;
          padding: 0 6px 0 19px;
          border-radius: 20px;
          background: #f7f7f7;
          border: 1px solid #f7f7f7;
          vertical-align: top;
          input{
            position: relative;
            display: inline-block;
            width: 255px;
            height: 40px;
            font-size: 13px;
            line-height: 40px;
            background: transparent;
            border: 0;
            vertical-align: top;
          }
          button{
            position: relative;
            display: inline-block;
            width: 40px;
            height: 40px;
            background: url('/images/btnSearch.png') no-repeat center;
            border: none;
            vertical-align: top;
          }
        }
        .cart{
          position: relative;
          display: inline-block;
          width: 42px;
          height: 42px;
          margin: 0 -3px 0 18px;
          background: url('/images/btnCart.png') no-repeat center;
          > i{
            position: absolute;
            right: -5px;
            top: -7px;
            display: block;
            width: 18px;
            height: 18px;
            background-color: #76bd42;
            border-radius: 50%;
            text-align: center;
            line-height: 18px;
            color: #fff;
            font-size: 11px;
            font-weight: 700;
            font-style: normal;
          }
        }
      }
    }
  }
}
// 비주얼영역
.visual{
  position: relative;
  display: block;
  height: 410px;
  .sw-visual{
    .swiper-wrapper{
      .swiper-slide{}
    }
    .sw-visual-prev{
      position: absolute;
      left: calc(50% - 578px);
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 64px;
      height: 64px;
      background: url('/images/visualArrP.png') no-repeat;
      background-position: 0px -64px;
      z-index: 99;
      border: 0;
      cursor: pointer;
    }
    .sw-visual-prev:hover::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.15);
      }
      .sw-visual-prev:hover {
          background-position: 0px 0px;
      }
  
    .sw-visual-next{
      position: absolute;
      right: calc(50% - 650px);
      top: 50%;
      transform: translate(-50%, -50%);

      display: block;
      width: 64px;
      height: 64px;
      background: url('/images/visualArrN.png') no-repeat;
      background-position: 0px -64px;
      z-index: 99;
      border: 0;
      cursor: pointer;
    }
    .sw-visual-next:hover::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.15);
      }
      .sw-visual-next:hover {
          background-position: 0px 0px;
      }
  
    .sw-visual-control{
      position: absolute;
      left: calc(50% - 600px);
      bottom: 43px;
      display: block;
      z-index: 99;
      .sw-visual-pause{
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        border: 0;
        background: url('/images/visualPlay.png') no-repeat;
        background-position: 0px 0px;
        cursor: pointer;
        float: left;
        margin-right: 6px;
      }
      .sw-visual-pause-active {
        background-position: 0px -30px;
      }
      .sw-visual-pg{
        position: relative;
        display: block;
        width: 52px;
        height: 30px;
        background: url('/images/visualNum.png') no-repeat;
        float: left;
        margin-right: 3px;
      }
      .sw-visual-bt{
        position: relative;
        display: block;
        width: 29px;
        height: 30px;
        background: url('/images/visualMore.png') no-repeat;
        border: 0;
        cursor: pointer;
        float: left;
      }
    }
    .swiper-pagination-fraction {
      bottom: 0 !important;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      line-height: 30px;
      letter-spacing: -0.35px;
      padding-left: 2px;
  }
  }
}

// 추천상품
.recommend {
  position: relative;
  display: block;
  padding: 80px 0;
  .inner{
    >h2{
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
    }
    .recommend-wrap{
      margin-top: 40px;
      .good-wrap {
        position: relative;
        display: flex;
        justify-content: space-between;
      }
    }
  }

}

// 알뜰물품// 스와이퍼 영역
.sale{
  position: relative;
  display: block;
  background-color: #edf9f9;
  margin-top: 82px;
  .inner{
    padding: 80px 0;
    overflow: hidden;
    .sale-left{
      position: relative;
      display: block;
      float: left;
      .section-title{
        position: relative;
        display: block;
        padding-bottom: 24px;
        >h2{
          position: relative;
          display: block;
          font-size: 32px;
          font-weight: 400;
          line-height: 40px;
          letter-spacing: -0.8px;
          >b{
            position: relative;
            display: block;
            font-weight: 700;
          }
        }
      }
      .section-title::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
    
        display: block;
        width: 20px;
        height: 2px;
        background-color: #707070;
    }
      .section-desc{
        position: relative;
        display: block;
        /* font-weight: 400; */
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.375px;
        margin-top: 24px;
        >p{}
      }
      .section-bt{
        position: relative;
        display: block;
        width: 135px;
        height: 34px;
        border: 1px solid #bbb;
    
        color: #666;
        background-color: #fff;
    
        font-size: 13px;
        text-align: center;
        line-height: 32px;
        letter-spacing: -0.325px;
    
        margin-top: 25px;
    
        transition: background-color 0.5s;
      }
      .section-bt:hover {
        background-color: #f8f8f8;
      }    
      .sw-sale-control{
        position: absolute;
        left: 0;
        top: 360px;
        display: block;
        .sw-sale-prev{
          position: relative;
          display: block;
          width: 26px;
          height: 20px;
          border: 0;
          background: url('/images/swiperArrP.png') no-repeat;
          background-position: 0px 0px;
          float: left;
          cursor: pointer;
        }
        .sw-sale-prev:hover {
          background-position: 0px -20px;
      }
        .sw-sale-pg{
          position: relative;
          display: block;
          width: 90px;
          height: 20px;
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          color: #bbb;
          float: left;
        }
        .swiper-pagination-fraction {
          bottom: 3px !important;
          letter-spacing: -0.4px;
        }
        .swiper-pagination-current {
            color: #000;
        }
        .sw-sale-next{
          position: relative;
          display: block;
          width: 26px;
          height: 20px;
          border: 0;
          background: url('/images/swiperArrN.png') no-repeat;
          background-position: 0px 0px;
          float: right;
          cursor: pointer;
        }
        .sw-sale-next:hover {
          background-position: 0px -20px;
      }
      }
    }
    .sale-right{
      position: relative;
      display: block;
      width: 896px;
      height: 410px;
  
      overflow: hidden;
  
      float: right;
      .sw-sale{
        .swiper-wrapper{
          .swiper-slide{
            .good-link{
              position: relative;
              display: block;
              width: 288px;                    
              background-color: #fff;
              padding-bottom: 45px;
              
              margin-left: 0;
              margin: 0 auto;
              .good-img{
                position: relative;
                display: block;
                width: 100%;
                height: 288px;
                overflow: hidden;
                >img{
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%) scale(1.0);
                  display: block;
                  width: 100%;
                  transition: transform 0.3s;
                  /* height: 100%; */
                }
              }
              .good-img:hover >img {
                transform: translate(-50%, -50%) scale(1.1);
            }
              .good-info{
                position: relative;
                display: block;
                margin-top: 14px;
                padding: 0 13px;
                .good-cate{
                  position: relative;
                  display: block;
                  overflow: hidden;
                }
                .good-title{
                  position: relative;
                  display: block;
                  height: 44px;
              
                  font-size: 17px;
                  line-height: 22px;
                  letter-spacing: -0.425px;
                  word-wrap: break-word;
                  /* background-color: rosybrown; */
              
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  word-wrap: break-word;
              
                  margin-top: 13px;
              
                  /* margin-bottom: 14px; */
                }
                .good-price{
                  position: relative;
                  display: block;
              
                  font-size: 17px;
                  font-weight: 700;
                  line-height: 22px;
                  letter-spacing: 0;
                  >b{
                  font-size: 22px;
                  line-height: 27px;
                  font-weight: 500;
                  }
                }
              }
              .good-cart{
                position: absolute;
                right: 0px;
                bottom: 40px;
            
                display: block;
                width: 30px;
                height: 30px;
            
                background: url('/images/btnCartList.png') no-repeat;
                background-position: 0px 0px;
                border: 0;
                margin-right: 20px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}


//추천상품
.purpose {
  position: relative;
  display: block;
  padding: 80px 0;
  .inner{
    >h2{
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
    }
    .purpose-wrap{
      margin-top: 40px;
      .good-wrap {
        position: relative;
        display: flex;
        justify-content: space-between;
      }
    }
  }

}

